.ant-tabs-tab .ant-tabs-tab-btn {
  color: black;
  user-select: none;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black;
  user-select: none;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  background-color: #ccc;
  user-select: none;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: #fff;
  user-select: none;
}

.reviewWrapper {
  padding: 2rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reviewActioner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.reviewActioner button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.725rem 1.5rem;
  text-transform: uppercase;
}
